/backups/
/straight/
/custom.el
/elpa/
/eshell/
/places
/projects
/transient/
/url/
/auto-save-list/
/eln-cache/
/network-security.data
/org-roam.db
/env/secrets.el
/tramp
/tutorial/
/.org-id-locations
/session.*